.popup-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:12px ;
    gap: 12px;
}


.popup-form{
    width: calc(100% - 48px);
    height: auto;
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 24px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 11px var(--shadow-color);
    
}

.popup-form button{
    margin-top: 12px;
    border: none;
    background-color: var(--color-1);
    color: white;
    padding: 6px;
    font-size: 16px;
    min-width: 80px;
    border-radius: 99px;
}

.popup-form input{
    border: 1px solid var(--shadow-color);
    border-radius: 12px;
    height: 32px;
    text-align: center;
    padding: 6px;
    width: 100%;
    -moz-appearance: textfield;
}
.popup-form label{
    font-weight: 600;
}