.profile-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100vw;
    padding-top: 100px;
    gap: 24px;
}

.edit-btn{
    border: none;
    background: none;
    display: flex;
    gap: 16px;
    font-size: 16px;
    align-items: center;
}
.edit-btn img  {
    height: 18px;
    width: 18px;
}

.profile-chart {
    width: calc(40% - 72px);
    height: auto;
}

.chart-container {
    width: 100%;
    height: auto;
}

.profile-nav {
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 24px;
}
.navlinks{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 48px 0px 48px 0px;
}

.navlink{
    color: var(--color-3);
}
.navlink-active, .navlink{
    text-decoration: none;
    text-align: left;
    width: 100%;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0px 12px 0px;
    justify-content: center;
}
.navlink-active{
    background-color: var(--color-1);
    color: white;
}
.profile-pages, .balance-request,
.profile-nav {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 11px var(--shadow-color);
}
.profile-page{
    display: flex;
    justify-content: center;
}
.urls-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 12px;
    flex-wrap: wrap;

}
.urls-details{
    display: flex;
    justify-content: space-between;

}
.urls-detail {
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: 14px;
    text-align: center;
    
}


.chart-legends {
    display: flex;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
}

.chart-select {
    border: none;
    background: none;
    margin: 12px 24px 12px 24px;
    width: calc(100% - 48px);
    text-align: center;
    font-size: 12px;
    padding: 6px;
}

.chart-select:focus{
    outline: none;
}

.account-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.account-detail {
    display: flex;
    align-items: center;
    line-height: 1px;
    flex-wrap: wrap;
    text-wrap: wrap;
    gap: 6px;
}


@media only screen and (min-width: 1080px) {
    
    .profile-pages {
        width: calc(40% - 72px);
    }
    
    .profile-nav {
        width: 20%;
        height: fit-content;
        display: flex;
    }
}

@media only screen and (max-width: 1080px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .account-detail{
        justify-content: start;
        align-items: center;
        flex-direction: column;
        
    }
    
    .profile-pages,.profile-nav  {
        width: calc(100% - 72px);
    }
    
    .profile-nav {
        height: fit-content;
        display: flex;    }

    .urls-detail h2, .urls-detail span{
        font-size: 12px;
    }
    .profile-nav{
        display: none;
    }
}