.ads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 96px;
    gap: 48px;
}

.ad-content {
    width: calc(33% - 148px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    border-radius: 24px;
}

.skip-btn,
.intereste-btn {
    border: none;
    padding: 12px;
    min-width: 150px;
    border-radius: 99px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.skip-btn {
    color: white;
    background-color: var(--color-1);
}

.intereste-btn {
    background: none;
    color: var(--color-1);
    border: 2px solid var(--color-1);
}

.ad-content span {
    font-weight: 600;
    color: var(--color-darkslategray);
    font-size: 18px;
    text-align: center;
}

.url-info-public {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 72px);
    gap: 12px;
    border-radius: 12px;
    flex-wrap: wrap;
    color: var(--color-darkslategray);
}

.url-info-pub {
    padding: 12px;
    border: solid 2px var(--shadow-color);
    border-radius: 6px;
    width: 50%;
    gap: 24px;
}

.adcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 400px;
    width: 100%;
}

#btndbnmdfnbfggb {
    display: flex;
    width: 250px;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
}

#btndbnmdfnbfggb button {}

.todo-bar {
    position: relative;
    width: 100%;
    height: 7px;
    background-color: var(--shadow-color);
}

.innertodobar {
    height: 100%;
    background-color: var(--color-1);
    transition: all, ease-out, 2s;
}

.baricon {
    position: absolute;
    border: 2px solid var(--color-1);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    top: 12px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.baricon img {
    height: 100%;
    width: 100%;
}

.complete-btn{
    border: none;
    background: none;
    
    color: var(--color-darkslategray);
}

@media screen and (max-width: 1080px) {
    .ad-content {
        width: calc(100% - 168px);
    }

}