.App{
    font-family: "Lexend", sans-serif;
    position: relative;
}

input:focus{
    outline: none;
    -moz-appearance: textfield;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

}

.loading-icon{
    height: 96px;
    width: 96px;
}

.show-more-btn {
    background: var(--color-1);
    border: none;
    padding: 12px;
    min-width: 150px;
    font-weight: 600;
    color: white;
    margin-top: 24px;
    font-size: 14px;
    border-radius: 6px;
  }